{# load tutorial_sidebar #}



<nav id="sidebar">
    <div class="sidebar-header">

        <h4><a href = "#">{{ topic }}</a></h4>
    </div>

    {% if plist %}
    <ul class="list-unstyled components">
        {% for p in plist %}
          <li>
            <a href="#">{{ p }} </a>
          </li>
        {% endfor %}
        {% else %}
        <p>There are no Tutorials to displays.</p>
        {% endif %}

    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a class="download" href="https://www.linkedin.com/in/rashidbawah/">LinkedIn</a>
        </li>
        <li>
            <a class="download" href="https://www.youtube.com/channel/UCFMwPYpRntd_S6jj4XOLZBA">Youtube Channel</a>
        </li>
    </ul>
</hr>
    <ul class="list-unstyled CTAs">
    </ul>
</nav>