
  {% block sidebar %}
<nav id="sidebar">
    <div class="sidebar-header">
        <h4><a href = "#">Tutorials</a></h4>
    </div>
    <ul class="list-unstyled components">

        {% if topics %}
        {% for topic in topics %}
{% comment %}
          <li>
            <a href="{% url 'blog:topic-articles' topic.slug %}">{{ topic.name }} </a>
          </li>
          <span class="navbar-text active"><a class="nav-link" href="{% get_topic_sidebar slug=topic.slug %}">Tutorials</a></span>
{% endcomment %}
          <li>
            <a href="{% url 'blog:tuts-posts' topic.slug %}">{{ topic.name }} </a>
          </li>

        {% endfor %}
        {% else %}
        <p>There are no Tutorials to displays.</p>
        {% endif %}


    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a class="download" href="https://www.linkedin.com/in/rashidbawah/">LinkedIn</a>
        </li>
        <li>
            <a class="download" href="https://www.youtube.com/channel/UCFMwPYpRntd_S6jj4XOLZBA">Youtube Channel</a>
        </li>
    </ul>
</nav>

{% endblock %}