


<div class="col-sm-2">
    {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'blog:all' %}">All Posts</a></li>
          <li><a href="{% url 'blog:topic-list' %}">Topic list </a></li>
          {% if topics %}
            {% for topic in topics %}
              <li>
                <a href="#">{{ topic.name }} </a>
              </li>
            {% endfor %}
          {% else %}
            <p>There are no Tutorials to displays.</p>
          {% endif %} 
          

          <!--Check if user is authenticated, then display the following-->
          {% if user.is_authenticated %}
              <li>User: {{ user.get_username }}</li>

              <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
          {% else %}
              <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
          {% endif %} 
      </ul>
   {% endblock %}
    </div>