<!-- templates/home.html-->
{% extends 'base_generic.html' %}



{% block content %}

<h4>Recent Posts </h4>
<ul class="list-unstyled components">
{% for post in posts %}
    <li>
        <a href="{{ post.get_absolute_url }}">
        <div class="card card-body bg-light">
            <div class="col col-sm order-sm-first col-md">
				        <div class="media">

                    <div class="media-body">

                        <h4 class="mt-0"><span class="badge badge-pill badge-secondary">{{ post.title }}</span></h4>
                        <p class="d-none d-sm-block">
                        {% if post.text|length < 201 %}
                            {{ post.text | safe }}
                        {% else %}
                            {{ post.text|slice:"0:200" | safe }}
                        {% endif %}</p></a>
{% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </li>
</ul>

<p>
  <a href="{% url 'blog:all' %}">All posts</a>
  </p>

  <button type="button" class="btn btn-secondary">
    <i class="fa fa-align-justify"></i>
    <span>  <a href="{% url 'blog:all' %}">All blog posts</a></span>
</button>
{% endblock %}